{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Nueva Venta</title>
<link rel="stylesheet" href="{% static 'sistema_ventas/css/style.css' %}">
<script src="{% static 'sistema_ventas/js/script.js' %}"></script>
</head>
<body>
<h1>Nueva Venta</h1>
<a href="{% url 'venta_list' %}">Volver a Ventas</a>
<form method="post">
    {% csrf_token %}
    <label>Fecha:</label><br>
    <input type="date" name="fecha" required><br>
    <label>Total:</label><br>
    <input type="number" name="total" step="0.01" required><br><br>
    <button type="submit">Crear</button>
</form>
</body>
</html>
